
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  <title>Post-a-Pic</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- <button class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse"> -->
        </button>
        <a class="navbar-brand active" href="/">Post-a-Pic</a>
      </div>
<!--       <div class="collapse navbar-collapse">
 -->        <% if (isAuthenticated !== undefined) { %>
          <% if (!isAuthenticated) {%>

            <li class="logout"><a href="/auth/twitter"><img class="signing" src="/connect-with-twitter.png"></a></li>
          <% } else { %>
            <li class="log"><span class="username"> Hello, <%=user.username%></span> </li>
            <li class="logout"><a class="log hover" href="/logout"><button class="logoutbutton">Sign Out</button></a></li>
          <% } %>
        <% } %>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/users">Search a user</a></li>
          <li><a href="/search">Find a pic</a></li>

        </ul>
<!--       </div>
 -->    </div>
  </nav>
  <div class="center">
    <div class="container-fluid bgpic">
      <h1 class="name"><span class="Post">Post-a-Pic</h1>
      <div class="widget">
       <a class="twitter-timeline" href="https://twitter.com/hashtag/PostaPicRocks" height="800px" width="280px"data-widget-id="497596178045739008">#PostaPicRocks Tweets</a>
     </div>
  </div>
    <h1 class="name center">Post-a-Pic</h1>
      <div class="container">
        <div="container1">


      


