<% include ./partials/header.ejs %> 
<div class="center">

  <h1 class="title">Welcome to Post-a-Pic</h1>
  <p><strong>Post-a-Pic</strong> makes life easy on Twitter. No more Google searching, saving images, finding
  the image you <strong>just</strong> saved, just to upload it. Post-a-Pic is a quick two step process!</p>
  <p><h6>Search for an image</h6></p>
  <p><h6>Upload your image to Twitter!</h6></p>
  <p><h5>It's that easy. Go check it out!</h5></p>
  <p><h5>Go wild</h5> with the newest image finder to hit the net. Quickly find those nifty images in a
    pinch and keep your Twitter experience simple.</p>
</div>
<% include ./partials/footer.ejs %> 