<% include ./partials/header.ejs %> 


  <h2 class="title">You're here for pics, not small talk...we understand that.</h2>
  <div class="col-sm-6">
    <p><strong>Post-a-Pic</strong> makes life easy on Twitter. No more Google searching, saving images, finding
    the image you <strong>just</strong> saved, just to upload it. So get crazy with your media in a few quick steps!</p>

    <p>Normcore 8-bit crucifix chambray butcher, vinyl before they sold out VHS squid flannel dreamcatcher four loko Wes Anderson. Meggings farm-to-table Schlitz, sustainable iPhone Marfa quinoa cred 8-bit Portland squid. Cornhole skateboard mustache, YOLO occupy aesthetic scenester DIY. Intelligentsia blog disrupt, mixtape squid ugh Marfa selvage distillery pug vegan Brooklyn fanny pack fixie single-origin coffee. Synth disrupt actually locavore cornhole. Quinoa 3 wolf moon fingerstache put a bird on it hoodie cornhole meh Shoreditch. Truffaut skateboard selfies locavore.</p>

    <p><strong>Go wild</strong> with the newest image finder to hit the net. Quickly find those nifty images in a
      pinch and keep your Twitter experience simple.</p>
      <img class="heart" src="/shape1.jpg">
  </div>
  <div class="col-sm-4">
    <a href="/search"><button class="btn searchbutton get">Get started!</button></a>
    <p><h4>Search for an image</h2></p>
    <img class="doit2" src="/findapic.png">
    <p><h3>Upload your image to Twitter!</h2></p>
    <img class="doit" src="/grabapic.png">
    <p><h2>It's that easy. Go check it out!</h2></p>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %> 