
<% include ./partials/header.ejs %> 
  <% if (!isAuthenticated) {%>
    <a href="/auth/twitter">Sign in with Twitter</a>
  <% } else { %>
    <a href="/logout"><button class="btn btn-primary">Logout</button></a>
    <h4>Welcome</h4>
    <% if ( foundPhoto !== undefined) { %>
      <img class="foundphoto" src="<%= foundPhoto.url_m %>"></img>
    <% } else {%>
      <h1>Oops! Did not return any results.</h1>
    <% } %>
     <script>
    //   var form = $("#send_message")
    //   var message = $("#message")
    //   form.submit(function(e) {
    //     e.preventDefault();
    //     alert(message.val)
    //   })
    // </script>
  <% } %>
<% include ./partials/footer.ejs %> 

