<% include ./partials/header.ejs %> 
  
    <% if (isAuthenticated) { %>
     <h2 class="title"> Find a pic</h2>

    <form id="send_message" action="/result">
      <input type="text" name="searchTerm" id="message" class="tweetstatus findpic" placeholder="search a pic"><br>

      <input type="radio" name="searchpic" id="check" value="stock" autofocus>images</input>
      <input type="radio" name="searchpic" id="check" value="meme">memes</input></br>
      <button class="btn btn-info searchbutton">Check it out!</button>
    </form>
    <% } else { %>
      <h3>Please sign in to search photos!</h3>
    <% } %>
     <script>
      $(function() {
        var $radios = $('input:radio[name=searchpic]');
        if($radios.is(':checked') === false) {
          $radios.filter('[value=stock]').prop('checked', true);
        }
      });
    </script>
</div>
<% include ./partials/footer.ejs %> 

