<% include ./partials/header.ejs %> 

  <div class="centertweets">
    <h1 class="title"><%= user.username %></h1>
    <% for (i = 0; i < 3; i++) { %>
      <% if (picture[i] !== undefined) { %>
        <span class="clearfix col-md-4"><%- picture[i].html %></span>
        <% } %>
      <% } %>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<% include ./partials/footer.ejs %> 