<% include ./partials/header.ejs %> 
<% if (!isAuthenticated) {%>
    <a class="log" href="/auth/twitter"><button class="btn btn-primary">Sign in with Twitter</button></a>
  <% } else { %>
  <div class="center">
    <a class="log" href="/logout"><button class="btn btn-primary">Logout</button></a>

  <div class="centertweets">
    <h1 class="title"><%= user.username %></h1>
    <% for (i = 0; i < 4; i++) { %>
      <% if (picture[i] !== undefined) { %>
        <%- picture[i].html %>
        <% } %>
      <% } %>
      <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <% } %>
  </div>
</div>
<% include ./partials/footer.ejs %> 