<% include ./partials/header.ejs %> 
<h2 class="title"><%= user.username %></h2>
    
    <div class="centertweets">
    <div class="tweetcontainer">
    <% for (i = 0; i < 4; i++) { %>
      <% if (picture[i] !== undefined) { %>
        <span class="clearfix col-sm-3"><%- picture[i].html %></span>
        <% } %>
      <% } %>
      </div>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<% include ./partials/footer.ejs %> 