<% include ./partials/header.ejs %> 

    <h1 class="userheader">All Users</h1>
    <form action="/find/users">

      <p>
        <label for="user"> </label> <input type="text" name="username" id="user" class="tweetstatus findpic searchname" placeholder="search for users">
      </p>
      <p>
        <button class ="btn btn-primary searchbutton">Go forth and socialize</button>
      </p>
    </form>
    <ul>

      <% users.forEach(function(user) { %>
        <span class="clearfix col-sm-4"><li><a href="/users/<%= user.id %>"> <strong><%= user.username %></strong></a></li></span>
      <% }) %>

        <% for (i = 0; i < 97; i++) { %>
          <a href="#"><span class="clearfix col-sm-4"><strong>username<%= i %></strong></span></a>
        <% } %>

    </ul>
</div>
<% include ./partials/footer.ejs %> 