<% include ./partials/header.ejs %> 
<% if (!isAuthenticated) {%>
    <a class="log" href="/auth/twitter"><button class="btn btn-primary">Sign in with Twitter</button></a>
  <% } else { %>
  <div class="center">
    <a class="log" href="/logout"><button class="btn btn-primary">Logout</button></a>
    <h4 class="user">Welcome</h4>
    <h1 class="title">Search</h1>
    <form action="/search" method = "post">

      <p>
        <label for="user">Search Users: </label> <input type="text" name="username" id="user" autofocus>
      </p>
      <p>
        <button class ="btn btn-primary">Search</button>
      </p>
    </form>

    <h1>All Users</h1>
    <ul>
      <% users.forEach(function(user) { %>
        <li><a href="/users/<%= user.id %>"> <%= user.username %></a></li>
      <% }) %>
    </ul>
  <% } %>
</div>
<% include ./partials/footer.ejs %> 