body {
  position: relative;
  top: 50px;
  letter-spacing: -.5px;
  width: 100%;
  min-width: 1368px;
}
.signing {
  width: 200px;
  padding: -10px;
  position: relative;
  left: 3px;
}

.logoutbutton {
  width: 160px;
  height: 30px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  background-color: #00CCFF;
  background: -webkit-linear-gradient(#3366CC, #00CCCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3366CC, #00CCCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3366CC, #00CCCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3366CC, #00CCCC); /* Standard syntax */
  padding: 0;
  border: none;
  position: relative;
  top: 5px;
  left: 100px;
}
.widget {
  height: 700px;
  width: 250px;
  float: right;
  position: relative;
  right: 2px;
}
.logoutbutton:hover {
  background-color: #00CCFF;
  background: -webkit-linear-gradient(#3366CC, #00FFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3366CC, #00FFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3366CC, #00FFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3366CC, #00FFFF); /* Standard syntax */
  padding: 0;
  border: none;
}
#check {
  margin: 4px;
}
.foundphoto {
  position: relative;
  top: -10px;
}

.tweetstatus {
  margin-bottom: 10px;
  width: 420px;
  height: 30px;
}
#tweet {
  width: 230px;
  background-image: url("./Twitterbird.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  position: relative;
  left: -96px;
}
.newpic {
  width: 175px;
  position: relative;
  top: -34px;
  left: 122px;
}
.userheader {
  margin-bottom: 15px;
}
.searchname {
  position: relative;
  top: 15px;
}
.searchbutton {
  width: 419px;
  font-size: 18px;
  position: relative;
  top: 10px;
  margin-bottom: 25px;
}

.findpic {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn-info {
  border-radius: 2px;
}
.userrows {
  margin-top: 20px;
  width: 900px;
  min-width: 900px;
}
.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  letter-spacing: -2px;
  position: relative;
  top: -210px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
  padding: 20px 0px;
  width: 500px;
  text-shadow: 4px 4px black;
}

.signin {
  background-image: url("/connect-with-twitter.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 33px;
  background-size: 110%;
  position: relative;
  background-position: left -10px center;
}
.center {
 
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -50px;
}
ul {
  list-style-type: none;
}
.center {
  margin-top: 0px;
}
.col-xs-4 {
  margin-top: 20px;
}
nav, .navbar {
  margin: 0px;
}
.bgpic {
  top: -200px;
}
.container1 {
  margin-top: -50px;
}
.container-fluid {
  background-image: url('/tumblr6.jpg');
  background-color: black;
  height: 250px;
  border-bottom: solid 30px #2A2A2A;
  background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -2px;
  margin-bottom: 33px;
}
.clearfix {
  letter-spacing: .5px;
  line-height: 25px;
}
.heart {
  width: 50%;
  height: 50%;
  margin-top: 30px;
}
.log {
  font-family: "Helvetica", sans-serif;
  float: right;
  position: relative;
  top: -2px;
  left: 50px;
  color: #B0B0B0;
  font-size: 14px;
  letter-spacing: .4px;
  list-style-type: none;
}
.twitter-timeline {
  margin-bottom: 20px;
  position: relative;
  top: 110px;
  right: 10px;
  z-index: 10;
}
.tweetcontainer {
  width: 1000px;
  min-width: 1000px;
  z-index: 10;
}
.logout {
  font-family: "Helvetica", sans-serif;
  float: right;
  position: relative;
  top: 8px;
  left: 50px;
  color: #B0B0B0;
  font-size: 14px;
  letter-spacing: .4px;
  list-style-type: none;
}
.doit, .doit2 {
  padding: 3px;
  border: dotted 1px grey;
}
.doit2 {
  padding: 0px 18px;
}
.get {
  font-family: 'Montserrat', sans-serif;

  width: 240px;
  font-size: 30px;
  letter-spacing: -1px;
  background-color: #00e5e5;
  background: -webkit-linear-gradient(#99ffff, #00e5e5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#99ffff, #00e5e5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#99ffff, #00e5e5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#99ffff, #00e5e5);
  color: white;
  text-shadow: 1px 1px #007f7f;
  box-shadow: .5px .5px 2px black;
}

.get:hover {
  background: -webkit-linear-gradient(#ccffff, #00ffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ccffff, #00ffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ccffff, #00ffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ccffff, #00ffff);
  letter-spacing: 0px;
  color: white;
}

.username {
  position: relative;
  top: 18px;
  left: -130px;
  padding-right: 23px;
  z-index: 20;
}
.containerfooter {
  height: 70px;
  position: fixed;
}

.foundphoto {
  padding: 10px;
  border: dotted 1px grey;
}

.intro {
  width: 600px;
}

